{%load static%}



<!DOCTYPE html>
<html>
<head>
<title>Success</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>

    <link rel="stylesheet" href="{% static 'success.css' %}">
    
    <h1>SUCCESS</h1><br>

    <div class="home-link">
        <a href="{% url 'home' %}" class="btn btn-primary">BACK TO HOME</a>
    </div>



</body>
</html>